[submodule "Mochi/vendor/spdlog"]
	path = Mochi/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Mochi/vendor/GLFW"]
	path = Mochi/vendor/GLFW
	url = https://github.com/TheCherno/glfw
